process {
  config_profile_name = 'Curta cluster profile'
  config_profile_description = 'Profile for the FU Curta cluster.'
  queue = 'begendiv,main'
  clusterOptions = '--qos=standard'
  cpus = 2
  memory = '8 GB'
  time = '8h'

  withLabel: 'RAM_high' {
    cpus = 8
    memory = '48 GB'
    time = '11h'
  }
}

executor {
    name = 'slurm'
    queueSize = 10
}
