process {
  config_profile_name = 'MfN cluster profile'
  config_profile_description = 'Profile that works well with the Museum für Naturkunde cluster'

  queue = 'Temp_short'
  cpus = 2
  memory = '8 GB'
  time = '4h'

  withLabel: 'RAM_high' {
    cpus = 8
    memory = '48 GB'
    time = '11h'
  }
}

executor {
    name = 'slurm'
    queueSize = 10
}
